<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/style.css">

<body>

<!-- Include the navigation bar -->
<div th:replace="fragments/navigation :: nav"></div>

<!-- Main container for quiz management -->
<div class="container mt-4 quiz-container">

    <!-- Page title -->
    <h1 class="page-title">Quiz Details</h1>


    <!-- List of questions associated with this quiz -->
    <div class="question-list">
        <div class="card mb-2" th:each="question : ${quiz.questions}">
            <div class="card-header">
            <span th:text="'Question ' + ${question.questionNumber} + ': ' + ${question.questionText}">

        </span>
            </div>
        </div>
    </div>

<!--    <div th:each="question : ${quiz.questions}">-->
<!--        <span th:text="'Question ' + ${question.questionNumber} + ': ' + ${question.questionText}"></span>-->
<!--    </div>-->



</div>

</body>
</html>

<!--    <div id="quizContent">-->
<!--        <h2 class="quiz-question" th:text="${question.questionText}">Question text will go here</h2>-->
<!--        <ul class="quiz-answers">-->
<!--            &lt;!&ndash; Loop through each answer and display it as a radio button with label &ndash;&gt;-->
<!--            <li class="quiz-answer" th:each="answer : ${question.answers}">-->
<!--                <input type="radio" th:attr="name='answer', value=${answer.answerId}, data-is-correct=${answer.isCorrect}"-->
<!--                       id="answer-${answer.answerId}" class="quiz-radio">-->
<!--                <label class="quiz-label" th:for="'answer-' + ${answer.answerId}" th:text="${answer.answerText}"></label>-->
<!--            </li>-->
<!--        </ul>-->
<!--        &lt;!&ndash; The "Next" button will be hidden until an answer is selected &ndash;&gt;-->
<!--        <button id="nextButton" class="quiz-next-btn" style="display:none;">Next</button>-->
<!--    </div>-->