<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<script src="/js/quiz.js"></script>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div class="card-header" th:text="${quiz.title}"></div>
</div>

<!-- Dynamically pass quizId and total number of questions using Thymeleaf -->
<button th:attr="data-quiz-id=${quiz.quizId}, data-total-questions=${totalQuestions}" id="startButton">
    Start Quiz!
</button>


<div id="quizText"></div>

</body>
</html>
